[submodule "xcha-blockchain-gui"]
	path = xcha-blockchain-gui
	url = https://github.com/Chia-Network/xcha-blockchain-gui.git
	branch = pools
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
